/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}
/* END COMMON */

/* HEADER */
header {
    height: 80px;

    /* TEST */
    background-color: lightblue;
}

header ul {
    list-style-type: none;
}

header li {
    padding: 20px;
}

.menu {
    /* TEST */
    background-color: lightcoral;
}

.support-login {
     /* TEST */
     background-color: lightgreen;
}

.header-container {

    justify-content: space-between;
    /* align-items: center; */
}
/* common */



/* END HEADER */

/* MAIN */


/* common */


/* END MAIN */

/* FOOTER */


/* common */


/* END FOOTER */