/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.cta-btn {
    background-color:#0b60ff ;
    color: white;
    padding: 8px 20px;
}

.col-small {
    width: 40%;
    padding: 30px 30px 20px 0 ;
}

.col-large {
    width: 60%;
}
/* END COMMON */

/* HEADER */
header {
    height: 80px;
}

.header-container {
    height: 100%;
}

nav,
.support-login {
    display: flex;
    align-items: center;
    width: 100%;
}

.support-login {
    text-align: right;
    justify-content: flex-end;
}

/* common */
header ul {
    list-style-type: none;
}

header li {
    padding:  0 20px;
}
/* END HEADER */

/* MAIN */
/* jumbotron */
.container-large {
    width: 80%;
    margin: 0 auto;
}

.jumbotron {
    background-color:#b3d0e8 ;
}

.cta {
    display: inline-block;
    padding-top: 30px;
}

.undo-cta {
    padding: 10px 0 20px 0;
    font-size: 14px;
}

.arrow-down {
    font-size: 45px;
    padding-top: 10px;
}

.jumbotron img {
    padding-top: 30px;

}
/* common */
h1 {
    font-size: 65px;
    padding-top: 50px;
    
}

/* END MAIN */

/* FOOTER */


/* common */


/* END FOOTER */